<configuration>

  <property scope="context" name="NETTY_LOG" value="${NETTY_LOG:-WARN}"/>

  <logger name="io.netty" level="${NETTY_LOG}"/>
  <logger name="org.mongodb" level="INFO"/>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
